.cloudRow0{
    fill:#E1F0FA; 
    overflow: visible;
}

.cloudRow1{
    fill:#B8DBF2; 
    overflow: visible;
}

.cloudRow2{
    fill:#C8E4F7;
    overflow: visible;
}

.cloudRow3{
    fill:#F0F9FF;
    overflow: visible;
}

.cloudRow4{
    fill:#FFFFFF;
    overflow: visible;
}

.cloudShadow {
    overflow: visible;
}