.addDrop0{fill:currentColor;}
.addDrop1{fill:#D5D5D9;}
.addDrop2{fill:url(#Path_7649_3_);}
.addDrop3{fill:#BDBDC7;}
.addDrop4{fill:url(#Path_7651_3_);}
.addDrop5{fill:#F2F2F2;stroke:currentColor;stroke-width:0.25;stroke-miterlimit:10;}
.addDrop6{fill:url(#Path_7649_4_);}
.addDrop7{fill:url(#Path_7651_4_);}
