.loIcon0{
    fill:#D02727;
    :hover > & {
        fill:#56A6EB;
    }
}
.loIcon1{
    fill:#FF3C3C;
    :hover > & {
        fill:#64BAF8;
    }
}
.loIcon2{
    fill:#A32928;
    :hover > & {
        fill:#257ac5;
    }
}

.dropIcon0{fill:url(#SVGID_1_);}
.dropIcon1{fill:#D5D5D9;}
.dropIcon2{fill:url(#Path_7645_3_);}
.dropIcon3{fill:#BDBDC7;}
.dropIcon4{fill:url(#Path_7647_3_);}
.dropIcon5{fill:url(#SVGID_2_);}
.dropIcon6{fill:url(#Path_7645_4_);}
.dropIcon7{fill:url(#Path_7647_4_);}
