.currentLocationContainer{
    border: solid 2px #aaaaaa; 
    background-color: #ffffff;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}