.st0{fill:#D02727;}

.st1{fill:#FF3C3C;}

.st2{fill:#A32928;}

.st3{fill:#D5D5D9;}

.st4{fill:url(#SVGID_1_);}

.st5{fill:#BDBDC7;}

.st6{fill:url(#SVGID_2_);}

.st7{fill:url(#SVGID_3_);}

.st8{fill:url(#SVGID_4_);}

.st9{fill:url(#SVGID_5_);}

.st10{fill:url(#SVGID_6_);}

.st11{fill:url(#SVGID_7_);}

.st12{fill:url(#SVGID_8_);}

.st13{fill:url(#SVGID_9_);}

.st14{fill:url(#SVGID_10_);}

.st15{fill:url(#SVGID_11_);}

.st16{fill:url(#SVGID_12_);}

.st17{fill:url(#SVGID_13_);}

.st18{fill:url(#SVGID_14_);}

.st19{fill:url(#SVGID_15_);}

.st20{fill:url(#SVGID_16_);}