.loIcon0{
    fill:#D02727;
    :hover > & {
        fill:#56A6EB;
    }
}
.loIcon1{
    fill:#FF3C3C;
    :hover > & {
        fill:#64BAF8;
    }
}
.loIcon2{
    fill:#A32928;
    :hover > & {
        fill:#257ac5;
    }
}

.lootIcon0{fill:url(#SVGID_1_);}
.lootIcon1{fill:#D5D5D9;}
.lootIcon2{fill:url(#Path_7645_3_);}
.lootIcon3{fill:#BDBDC7;}
.lootIcon4{fill:url(#Path_7647_3_);}
.lootIcon5{fill:url(#SVGID_2_);}
.lootIcon6{fill:url(#Path_7645_4_);}
.lootIcon7{fill:url(#Path_7647_4_);}
