@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }
  .rotate {
    animation: spin-animation ease-out 2s 1;
  }
  
  @keyframes spin-animation {
    100% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(359deg);
    }
  }
  
.red-primary{
    fill:#FF3C3C;
    @include transition(fill 1s ease);
}

.red-secondary{
    fill:#D02727;
    @include transition(fill 1s ease);
}

.red-dark{
    fill:#A32928;
    @include transition(fill 1s ease);
}


.white-primary{
    fill:#FFFFFF;
}

.white-secondary{
    fill:#D5D5D9;
}

.white-dark{
    fill:#BDBDC7;
}

.LoadingPlanes {

}

.showAll {
    overflow: visible;
}