.addMessage0{fill:currentColor;}
.addMessage1{fill:#D5D5D9;}
.addMessage2{fill:url(#Path_7649_3_);}
.addMessage3{fill:#BDBDC7;}
.addMessage4{fill:url(#Path_7651_3_);}
.addMessage5{fill:#F2F2F2;}
.addMessage6{fill:url(#Path_7649_4_);}
.addMessage7{fill:url(#Path_7651_4_);}